beautifulsoup4==4.14.3
blinker==1.6.3
docutils==0.16
feedgenerator==1.9.2
html5lib==1.1
importlib-metadata==4.13.0; python_version < '3.11'
jinja2==2.11.3
markdown==3.2.2
markupsafe==2.0.1
pelican[markdown]==4.5.3
pelican-render-math==1.0.3
pelican-seo==1.0.3
pelican-simple-footnotes==1.0.2
pelican-youtube==0.2.1
pelican-sitemap==1.2.2
pygments==2.6.1
python-dateutil==2.9.0.post0
pytz==2020.5
six==1.17.0
smartypants==2.0.2
soupsieve==2.4.1
typing-extensions==4.7.1
typogrify==2.0.7
unidecode==1.4.0
webencodings==0.5.1
zipp==3.15.0
