/* slidemenu widths: 400px and 200px*/
#socialbarBIG {
	display:inline;
}
#socialbarSMALL {
	display:none;
}

#blog-search-normal {
	display:block;
}
#blog-search-mobile {
	display:none;
}


#st-search-input-mobile {
  	border:#999 0px solid !important;
}


/* Tags */
.list-of-tags {
    list-style: none;
    margin: 0;
    overflow: hidden;
}
.list-of-tags li {
    float: left;
    line-height: 28px;
    margin: 0;
}
.list-of-tags a {
    background: #EEE;
    border-radius: 3px;
    color: #222;
    margin: 2px;
    padding: 3px 6px;
    text-decoration: none;
}
.list-of-tags a span {
    font-size: .8em;
    vertical-align: super;
}
.tags-in-article li {
    float: none;
    line-height: 28px;
}


/* Categories */
.accordion-group {
    margin-bottom: 2px !important;
    border: 1px solid rgb(229, 229, 229) !important;
    border-radius: 4px!important;
}
.accordion-heading .accordion-toggle {
    display: block;
    padding: 8px 15px;
}
.accordion-inner {
    padding: 9px 15px;
    border-top: 1px solid rgb(229, 229, 229);
    /*padding-top: 60px;*/
    /*margin-top: -60px;*/
}
.accordion-body {
}


.list-of-categories span {
    font-size: .7em;
    vertical-align: super;
}
a.list-of-categories  {
    text-decoration: none;
}
ul.list-articles-category {
    list-style: none outside none;
    margin: 0 0 0 5px;
}
ul.list-articles-category li time {
    color: #8F8F8F;
    display: inline-block;
    width: 7em;
}
a.category-link {
    color: #333;
}
a.category-link:hover {
    text-decoration: none;
}
a.list-of-categories:hover {
    background-color: #F0F0F0;
    border-radius: 4px;
}

/* Archives */
ul.list-all-articles {
    list-style: none;
    margin: 0;
}
ul.list-all-articles li {
    border-bottom: 1px dotted #000;
    font-size: 1.1em;
    padding: .3em 0;
    overflow: auto;
}
ul.list-all-articles li time {
    color: #AAA;
    float: right;
    font-size: .9em;
}
div.blog-archives h2 {
    float: left;
    position: relative;
    margin:0;
}
div.blog-archives article, div.recent-posts article {
    border-bottom: 1px dotted #AAA;
}
div.blog-archives article, div.recent-posts article {
    font-size: 1.1em;
    padding: .3em .2em;
    position: relative;
    overflow: auto;
}
div.blog-archives article {
    margin-left: 6em;
}
div.blog-archives article.last-entry-of-year {
    margin-bottom: 1em;
}
div.blog-archives time, div.recent-posts time {
    float: right;
    text-align: right;
}
div.blog-archives time, div.recent-posts time, div.recent-posts section {
    color: #8F8F8F;
}
div.recent-posts section a {
    color: inherit;
    padding-left: .3em;
}
div.recent-posts section a:hover {
    border-bottom: 1px dashed;
    text-decoration: none;
}
div.recent-posts time {
     font-size: inherit;
}
div.recent-posts-time {
    display: inline;
}



/* Change color of search result text */
/*.swiftype-widget .autocomplete ul li p.title {
  color: FireBrick;
}*/

/* Change background color of selected search result */
/*.swiftype-widget .autocomplete ul li.active {
  background: none;
  background-color: firebrick;
  border-top: 1px solid darkred;
  border-bottom: 1px solid darkred;
  -webkit-box-shadow: 0 1px 0 #C0242D inset;
}*/

/* change the color of the section text (displayed below the title) */
/*.swiftype-widget .autocomplete ul li.active .sections em {
  color: white;
}*/


.st-result-listing h3 a {
  font-size: 30px;
}

.st-snippet em {
  font-weight: bold;
}

.st-result-listing .st-result .st-snippet {
  font-size: 14px;
}




/* adjust body when menu is open */
body.slide-active {
    overflow-x: hidden;
}
/*first child of #page-content so it doesn't shift around*/
.no-margin-top {
    margin-top: 0px!important
}
/*wrap the entire page content but not nav inside this div if not a fixed top, don't add any top padding */
#page-content {
    position: relative;
    /*padding-top: 70px;*/
    left: 0;
    height:100%;
}
#page-content.slide-active {
    padding-top: 0
}
#head-content {
    position: relative;
    /*padding-top: 70px;*/
    left: 0;
}
#head-content.slide-active {
    padding-top: 0
}
/* put toggle bars on the left :: not using button */
#slide-nav .navbar-toggle {
    cursor: pointer;
    position: relative;
    line-height: 0;
    float: left;
    margin: 0;
    width: 30px;
    height: 40px;
    padding: 10px 0 0 0;
    border: 0;
    background: transparent;
    padding-top:14px;
}
/* icon bar prettyup - optional */
#slide-nav .navbar-toggle > .icon-bar {
    width: 35%;
    display: block;
    height: 3px;
    margin: 5px 0 0 0;
}
#slide-nav .navbar-toggle.slide-active .icon-bar {
    background: #8B0000
}
.navbar-left {
    position: relative
}
/* un fix the navbar when active so that all the menu items are accessible */
.navbar.navbar-fixed-top.slide-active {
    position: relative
}
/* screw writing importants and shit, just stick it in max width since these classes are not shared between sizes */
@media (max-width:767px) { 
	#slide-nav .container {
	    margin: 0;
	    padding: 0!important;
	}
	#slide-nav .navbar-left {
	    margin: 0 auto;
	    padding: 0 15px;
	}
	#slide-nav .navbar.slide-active {
	    position: absolute;
	    width: 200px;
	    top: 0px;
	    z-index: 1000;
	}
	#slide-nav #slidemenu {
	    background: #f7f7f7;
	    left: -400px;
	    width: 200px;
	    min-width: 0;
	    position: fixed;
	    padding-left: 0;
	    z-index: 2;
	    top: 0px;
	    margin: 0;
	}
	#slide-nav #slidemenu .navbar-nav {
	    min-width: 0;
	    width: 200px;
	    margin: 0;
	}
	#slide-nav #slidemenu .navbar-nav .dropdown-menu li a {
	    min-width: 0;
	    width: 200px;
	    white-space: normal;
	}
	#slide-nav {
	    border-top: 0
	}
	#slide-nav.navbar-inverse #slidemenu {
	    background: #333
	}
	/* this is behind the navigation but the navigation is not inside it so that the navigation is accessible and scrolls*/
	#slide-nav #navbar-height-col {
	    position: fixed;
	    top: 0;
	    height: 100%;
	    width: 200px;
	    left: -200px;
	    background: #eee;
	}
	#slide-nav.navbar-inverse #navbar-height-col {
	    background: #333;
	    z-index: 1;
	    border: 0;
	}
	#slide-nav .navbar-form {
	    width: 400px;
	    margin: 8px 0;
	    text-align: center;
	    overflow: hidden;
	    /*fast clearfixer*/
	}
	#slide-nav .navbar-form .form-control {
	    text-align: center
	}
	#slide-nav .navbar-form .btn {
	    width: 400px
	}

	#socialbarBIG {
		display:none;
	}
	#socialbarSMALL {
		float:right;
		display:inline;
	}


	#blog-search-normal {
		display:none;
	}
	#blog-search-mobile {
		display:block;
	}
    .widget-filter {
        display:none;
    }
}
@media (min-width:768px) { 
	#page-content {
	    left: 0!important
	}
	#head-content {
	    left: 0!important
	}
	.navbar.navbar-fixed-top.slide-active {
	    position: fixed
	}
	.navbar-left {
	    left: 0!important
	}
}
