<!-- Main Nav -->
<header id="header" style="margin-top:0" class="fixed" ng-controller="HeaderController">

  <nav class="navbar navbar-inverse" role="navigation" id="slide-nav">
    <div class="container" data-swiftype-index="false">

      <div class="navbar-left">
        <a class="navbar-toggle"> 
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <a class="navbar-brand">
            <h1>{{ SITENAME|e }}&nbsp;</h1>
          </a>
        </a>
        <div id="socialbarSMALL" style="">
          {% for group_title, group_link in SOCIAL %}
            <a href="{{group_link}}" class="social fa fa-{{group_title|lower}}"></a>
          {% endfor %}
        </div>
      </div>

      <div class="navbar-right" id="socialbarBIG" style="">
        {% for group_title, group_link in SOCIAL %}
          <a href="{{group_link}}" class="social fa fa-{{group_title|lower}}"></a>
        {% endfor %}
      </div>
      
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div id="slidemenu">


        {% if SWIFTYPE %}
          <div id="blog-search-mobile">

            <form>
              <input type="text" id="st-search-input-mobile" class="st-search-input" style="font-size:16px;height:30px;color:#fff;background-color:#000;" placeholder="Search..."/>
            </form>
          </div>
        {% endif %}

        <ul class="nav navbar-nav navbar-right" id="collapse">
          <li><a href="{{SITEURL}}">Home</a></li>
          <li><a href="{{SITEURL}}/index.html#about">About</a></li>
          <li><a href="{{SITEURL}}/index.html#work">Work</a></li>
          {% if MENUITEMS %}
            {% for title, link in MENUITEMS %}
              <li ng-class="{ active: isActive('{{link}}')}"><a href="{{link}}">{{title}}</a></li>
            {% endfor %}
          {% endif %}
          
          {% if LINKS %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{LINK_MENU_NAME}} <b class="caret"></b></a>
              <ul class="dropdown-menu" style="background-color:#000">
              {% for site_title, site_link in LINKS %}
                <li style="background-color:#000"><a href="{{site_link}}">{{site_title}}</a></li>
              {% endfor %}
              </ul>
            </li>
          {% endif %}
        </ul>

      </div>
      <div ng-view></div>
      <!-- /.navbar-collapse -->

    </div>
  </nav>
</header>
<!-- /Main Nav -->