h2.recipe-category {
  margin-bottom: 5px;
  font-size: 36px;
}

.recipe-list {
    columns: 3;
}

@media (max-width: 768px) {
    .recipe-list {
        columns: 1;
        padding-left: 10px;
    }
}

.recipe-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 30px;
    margin-top: 20px;
}

.recipe-card {
    background: #fff;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0,0,0,0.05);
    transition: transform 0.2s, box-shadow 0.2s;
    border: 1px solid #eee;
    display: flex;
    flex-direction: column;
}

.recipe-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 15px rgba(0,0,0,0.1);
}

.recipe-card a {
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card-image-wrapper {
    height: 200px;
    width: 100%;
    background-color: #f4f4f4;
    position: relative;
}

.card-image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.no-image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 3rem;
    color: #ccc;
}

.card-details {
    padding: 15px;
    flex-grow: 1;
}

.card-details h3 {
    margin: 0;
    font-size: 1.2rem;
    color: #2c3e50;
    font-weight: 600;
}

.card-meta {
    font-size: 0.85rem;
    color: #7f8c8d;
    display: flex;
    gap: 10px;
}

.view-controls {
    display: flex;
    justify-content: right;
    margin-bottom: 20px;
    column-width: fit-content;
    align-items: center;
}

.view-btn {
    background: #f8f9fa;
    border: 1px solid #ddd;
    cursor: pointer;
    font-size: 0.9em;
    width: 40px;
    height: 40px;
}

.view-btn.active {
    background: #2c3e50;
    color: white!important;
    border-color: #2c3e50;
}

.hidden {
  display: none;
}

.recipe-toolbar {
  display: grid;
  grid-auto-flow: column;
  gap: 20px;
}


/* The Control Bar */
#variation-controls {
    /*background: #f8f9fa;*/
    padding: 20px;
    border-radius: 12px;
    border: 1px solid #e9ecef;
    margin-bottom: 30px;
    margin-top: 30px;
    text-align: center;
    display: block;
}

@media (min-width: 768px) {
    #variation-controls {
        display: block ruby;
    }

    .vibe-label {
        margin-right: 20px;
    }
}

.vibe-label {
    display: block;
    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #888;
    margin-bottom: 10px;
    font-weight: bold;
}

#vibe-select {
    padding: 8px 16px;
    border: 2px solid #333;
    background: transparent;
    border-radius: 30px;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.2s;
    font-size: 0.95rem;
    text-align: center;
}