<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">

<head>

  <title>{% block title %}{{ SITENAME }}{% endblock %}</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="{{ AUTHOR }}">
  <meta name="description" content="{% block description %}Articles by {{ AUTHOR }}{% endblock %}">

  <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
  <link rel="manifest" href="/images/favicon/site.webmanifest">
  <link rel="mask-icon" href="/images/favicon/safari-pinned-tab.svg" color="#5bbad5">
  <link rel="shortcut icon" href="/images/favicon/favicon.ico">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-config" content="/images/favicon/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">

  <!-- Facebook Meta Tags -->
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{ self.title() }}">
  <meta property="og:url" content="{% block og_url %}{{ SITEURL }}{% endblock %}">
  <meta property="og:description" content="{{ self.description() }}">
  <meta property="og:image" content="{% block og_image %}{{ LOGO }}{% endblock %}">

  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta property="twitter:domain" content="{{ SITEURL }}">
  <meta property="twitter:url" content="{{ self.og_url() }}">
  <meta name="twitter:title" content="{{ self.title() }}">
  <meta name="twitter:description" content="{{ self.description() }}">
  <meta name="twitter:image" content="{{ self.og_image() }}">

{% block stylesheets %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ SITEURL }}/theme/css/font.css" type="text/css" media="all">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  <link rel="stylesheet" href="{{ SITEURL }}/theme/css/style.css" type="text/css" media="all">
  <link rel="stylesheet" href="{{ SITEURL }}/theme/css/recipe_gallery.css" type="text/css" media="all">
  <link rel="stylesheet" href="{{ SITEURL }}/theme/css/pygments.css" type="text/css" media="all">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css">

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.6.347/pdf.min.js"></script>
{% endblock %}


<script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
  <script type="text/javascript" src="{{ SITEURL }}/theme/js/functions.js"></script>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=DM+Mono&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  {% if FEED_ALL_ATOM %}
  <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
  {% endif %}
  {% if FEED_ALL_RSS %}
  <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed" />
  {% endif %}

  {% block head %}
  <meta name="keywords" content="
    {%- if GLOBAL_KEYWORDS -%}
      {{ GLOBAL_KEYWORDS|join(', ') }}
      {%- if tags -%}{{', '}}{%- endif -%}
    {%- endif -%}
    {{tags|join(', ', attribute='0') }}">
  {% endblock %}

  {% include "modules/analytics.html" %}

</head>

{% macro get_icon(link) %}

  {# Attempt to normalize link URLs #}
  {%- set temp = link|lower|replace('http://', '')|replace('https://', '')|replace('www.', '') -%}

  {# Choosing a specific link icon #}

  {% set style = '' %}
  {%- if temp.startswith('bitcoin:') %}{% set class = 'fab fa-btc' %}
  {% elif temp.startswith('irc:') %}{% set class = 'fas fa-comments' %}
  {% elif temp.startswith('mailto:') %}{% set class = 'fas fa-envelope' %}
  {% elif temp.startswith('skype:') %}{% set class = 'fab fa-skype' -%}
  {%- elif temp.startswith('bitbucket.org') %}{% set class = 'fab fa-bitbucket' %}
  {% elif temp.startswith('delicious.com') %}{% set class = 'fab fa-delicious' %}
  {% elif temp.startswith('deviantart.com') %}{% set class = 'fab fa-deviantart' %}
  {% elif temp.startswith('facebook.com') %}{% set class = 'fab fa-facebook' %}
  {% elif temp.startswith('flickr.com') %}{% set class = 'fab fa-flickr' %}
  {% elif temp.startswith('foursquare.com') %}{% set class = 'fab fa-foursquare' %}
  {% elif temp.startswith('github.com') %}{% set class = 'fab fa-github' %}
  {% elif temp.startswith('instagram.com') %}{% set class = 'fab fa-instagram' %}
  {% elif temp.startswith('last.fm') %}{% set class = 'fab fa-lastfm' %}
  {% elif temp.startswith('au.linkedin.com') %}{% set class = 'fab fa-linkedin' %}
  {% elif temp.startswith('linkedin.com') %}{% set class = 'fab fa-linkedin' %}
  {% elif temp.startswith('news.ycombinator.com') %}{% set class = 'fab fa-hacker-news' %}
  {% elif temp.startswith('pinterest.com') %}{% set class = 'fab fa-pinterest' %}
  {% elif temp.startswith('plus.google.com') %}{% set class = 'fab fa-google-plus' %}
  {% elif temp.startswith('reddit.com') %}{% set class = 'fab fa-reddit' %}
  {% elif temp.startswith('spotify.com') %}{% set class = 'fab fa-spotify' %}
  {% elif temp.startswith('stackoverflow.com') %}{% set class = 'fab fa-stack-overflow' %}
  {% elif temp.startswith('steamcommunity.com') %}{% set class = 'fab fa-steam' %}
  {% elif temp.startswith('soundcloud.com') %}{% set class = 'fab fa-soundcloud' %}
  {% elif temp.startswith('t.me') %}{% set class = 'fab fa-telegram' %}
  {% elif temp.startswith('twitch.tv') %}{% set class = 'fab fa-twitch' %}
  {% elif temp.startswith('twitter.com') %}{% set class = 'fab fa-twitter' %}
  {% elif temp.startswith('vk.com') %}{% set class = 'fab fa-vk' %}
  {% elif temp.startswith('vimeo.com') %}{% set class = 'fab fa-vimeo-square' %}
  {% elif temp.startswith('vine.co') %}{% set class = 'fab fa-vine' %}
  {% elif temp.startswith('youtube.com') %}{% set class = 'fab fa-youtube' -%}
  {% elif temp.startswith('scholar.google.com') %}{% set class = 'ai ai-google-scholar' -%} {% set style = 'font-size: 1.6rem;' -%}
  {%- elif '.stackexchange.com' in temp %}{% set class = 'fab fa-stack-exchange' %}
  {%- elif 'atom' in temp %}{% set class = 'fas fa-rss' %}
  {%- elif 'rss' in temp %}{% set class = 'fas fa-rss' %}
  {% endif -%}

  <i class="{{ class }} fa-lg" style="{{ style }}"></i>
{%- endmacro -%}

{%- macro display_link(name, link, text) -%}
  {%- if MANGLE_EMAILS and link.startswith('mailto:') -%}
  <a data-email="{{ link|reverse }}"{% if not text %} data-title="{{ name }}"{% endif %} title="You need javascript enabled to view this email" class="email">{{ text }}{{ get_icon(link) }}</a>
  {%- else -%}
  <a href="{{ link }}"{% if not text %} title="{{ name }}"{% endif %} {{ 'class="active"' if  output_file == link }}>{{ text }}{{ get_icon(link) }}</a>
  {%- endif -%}
{%- endmacro -%}

<body class="home blog">
  <div>
    <header class="site-header">
      <nav class="navbar navbar-expand-lg navbar-default" role="navigation">
        <div class="container">
          <div class="row" style="width: 100%;">
            <div class="site-navigation-inner col-sm-12">
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="social fas fa-ellipsis-v"></i>
              </button>

              <div class="collapse navbar-collapse navbar-ex1-collapse" id="navbarSupportedContent" style="float: left;">
                <ul id="menu-all-pages" class="nav navbar-nav mr-auto" style="padding: 20px;">
                  {% for name, link in LINKS %}
                  <li class="menu-item">{{ display_link(name, link, name) }}</li>
                  {% endfor %}
                </ul>
              </div>
              <div class="social">
               {% for name, link in SOCIAL %}
                {{ display_link(name, link, "") }}
               {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </nav><!-- .site-navigation -->

      {% block masthead %}
      <div class="container">
      <div id="logo">
        <span class="site-name"><a class="navbar-brand" href="{{ SITEURL }}"><img  style="width: 400px;" src="{{ USER_LOGO_URL }}" class="attachment-full size-full" alt="logo">          </a>
        </span><!-- end of .site-name -->
      </div><!-- end of #logo -->
    </div>
    {% endblock %}

  </header><!-- #masthead -->
  </div>
    <div id="content" class="site-content">
      <div class="container main-content-area">
        <div class="row">
          <div class="main-content-inner col-sm-12 col-md-12">
            <div id="primary" class="content-area">
              <div id="main" class="site-main" role="main">
                <div class="article-container">
                  {% block content %}
                  {% endblock %}
                </div>
                  {% block footer %}
                  {% endblock %}
              </div><!-- #main -->
          </div><!-- #primary -->
        </div>
      </div><!-- close .row -->
    </div><!-- close .container -->
  </div><!-- close .site-content -->




  <div id="footer-area">
    <footer id="colophon" class="site-footer" role="contentinfo">
      <div class="site-info container">
        <div class="row">
                    <div class="copyright col-md-12">
                    This site uses the <a href="https://github.com/limbenjamin/voce">voce</a> theme by <a href="//limbenjamin.com/">Benjamin Lim</a><br />
                    &copy; 2025 <a href="{{ SITEURL }}">{{ AUTHOR }}</a> </div>
        </div>
      </div><!-- .site-info -->
      <div class="scroll-to-top" style="display: none;"><i class="fa fa-angle-up"></i></div><!-- .scroll-to-top -->
    </footer><!-- #colophon -->
  </div>

  {% block scripts %}
  <script type="text/javascript">
    window.addEventListener('load', function(){
    if (window.location.pathname != '/' && window.location.pathname != '/index.html'){
      window.scroll(0, document.getElementById('main').offsetTop);
    }})
  </script>

  {% if MANGLE_EMAILS %}
  <script type="text/javascript">
    window.addEventListener('load', function(){
      var e = document.querySelectorAll(".email");
      for (var i = 0; i < e.length; i++) {
        var email = e[i].getAttribute("data-email")
        var title = e[i].getAttribute("data-title")
        if (email){
          e[i].href = email.split("").reverse().join("");
          e[i].removeAttribute("data-email");
          e[i].removeAttribute("data-title");
          e[i].removeAttribute("class");
          if (title){
            e[i].setAttribute("title", title);
          }
          else{
            e[i].removeAttribute("title");
          }
        }
      }
    })
  </script>
  {% endif %}


  {% endblock scripts %}
</body>
</html>
