{% extends "base.html" %}
{% block metatitle %}Posts. | {{ SITENAME }}{% endblock %}
{% block title %}Posts. | {{ SITENAME }}{% endblock %}

{% block masthead %}
<!--     <header class="entry-header page-header newspaper-masthead">
      <h1 class="entry-title">Posts.</h1>
    </header> -->
<!--     <div class="hero-image" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url('/images/heroes/hero8.jpg');">
        <h1 class="recipe-title hero-text">Posts.</h1>
    </div> -->
    <div class="hero-image" style="border-bottom: 1px solid #ddd;">
        <h1 class="recipe-title hero-text" style="color: black; font-family: 'Playfair Display'; font-style: none;">
            <img src="/images/posts_masthead.png"/>
            &<span style="font-style: italic;">Posts.</span>
        </h1>
    </div>

    {% if articles|count > 0 %}
    <div class="tagline">
        <a href="/posts">All ({{ articles|count if articles|count > all_articles|count else all_articles|count }})</a> &#124;
        {% for category, articles in categories|sort %}
        <a href="{{ SITEURL }}/{{ category.url }}" {{ 'class="active"' if  output_file == category.url }}>{{ category }} ({{ articles|count }})</a> &#124;
        {% endfor %}
        {% if ARCHIVES_URL %}
            <a href="{{ SITEURL }}/{{ ARCHIVES_URL }}" {{ 'class="active"' if  output_file == ARCHIVES_URL }}>{{ 'Archives ('+ articles|count|string + ')' if  articles|count > all_articles|count  else 'Archives (' + all_articles|count|string + ')'}}</a>
        {% endif %}
    </div>
    {% endif %}
    <style>
    .entry-header {
      margin: 0;
    }
    .hero-text img {
        width: 200px;
    }
    @media (max-width: 768px) {
        .hero-text img {
            width: 100px;
        }
        .hero-text {
            font-size: 60px;
        }
    }
    </style>
{% endblock %}

{% block content %}
<div class="blog-container">
    {% for article in articles_page.object_list %}

    <!-- Dynamically adds a class if a thumbnail exists! -->
    <article class="post {% if article.image %}has-feature-image{% endif %}">

        <div class="story-text">
            <header class="entry-header page-header">
                <span class="cat-item"><time datetime="{{ article.date }}">{{ article.locale_date }}</time></span>
                <h2><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h2>
            </header>
            <div class="entry-content">
                {{ article.summary|striptags }}
            </div>
        </div>

        {% if article.image %}
        <div class="story-image">
            <a href="{{ SITEURL }}/{{ article.url }}">
                <img src="{{ article.image }}" alt="Photo for {{ article.title }}">
            </a>
        </div>
        {% endif %}

    </article>
    {% endfor %}
</div>
{% endblock %}

{% block footer %}
<footer>
{% include "modules/pagination.html" %}
</footer>
<div class="article_meta"></div>
{% endblock %}
