{% extends "base.html" %}
{% block metatitle %}Posts. | {{ SITENAME }}{% endblock %}
{% block title %}Posts. | {{ SITENAME }}{% endblock %}

{% block masthead %}
    {{ super() }}
    {% if articles|count > 0 %}
    <div class="tagline">
        {% if TAGS_URL %}
          {% for tag, articles in tags|sort %}
            <a href="{{ SITEURL }}/{{ tag.url }}" {{ 'class="active"' if  output_file == tag.url }}>{{ tag }} ({{ articles|count }})</a> &#124;
          {% endfor %}
        {% endif %}
        {% if ARCHIVES_URL %}
            <a href="{{ SITEURL }}/{{ ARCHIVES_URL }}" {{ 'class="active"' if  output_file == ARCHIVES_URL }}>{{ 'Archives ('+ articles|count|string + ')' if  articles|count > all_articles|count  else 'Archives (' + all_articles|count|string + ')'}}</a>
        {% endif %}
    </div>
    {% endif %}
{% endblock %}

{% block content %}
{% for article in articles_page.object_list %}
<article class="post">
	<div class="blog-item-wrap">
		<div class="post-inner-content">
			<header class="entry-header page-header">
				<span class="cat-item"><time datetime="{{ article.date }}">{{ article.locale_date }}</time></span>
				<h1 class="entry-title"><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h1>
			</header><!-- .entry-header -->
			<div class="entry-content">
				{{ article.summary|striptags }}
        	</div><!-- .entry-content -->
		</div>
	</div>
</article><!-- #post-## -->
{% if not loop.last %}
{% endif %}
{% endfor %}
{% endblock %}

{% block footer %}
<footer>
{% include "modules/pagination.html" %}
</footer>
<div class="article_meta"></div>
{% endblock %}
