{% extends "page.html" %}

{% block content %}
{{ super() }}

<div class="recipe-toolbar">
    <div class="view-controls">
        <p style="margin: 0;">{{ page.description }}</p>
    </div>
    <div class="view-controls">
        <button id="btn-gallery" class="view-btn active"><i class="fas fa-th"></i></button>
        <button id="btn-list" class="view-btn"><i class="fas fa-bars"></i></button>
    </div>
</div>

<div id="recipe-list" class="recipe-list hidden">
    {% for group in recipes|groupby("category") %}
    <h2 class="recipe-category">{{ group.grouper }}</h2>
    <ul>
    {% for recipe in group.list %}
        {% if not recipe.hidden %}
        <li>
            <a href="{{ recipe.url }}">{{ recipe.title }} </a>
        </li>
        {% endif %}
    {% endfor %}
    </ul>
    {% endfor %}
</div>

<div id="recipe-gallery" class="recipe-gallery">
{% for recipe in recipes %}
    {% if not recipe.hidden %}
    <div class="recipe-card">
        <a href="{{ recipe.url }}">
            <div class="card-image-wrapper">
                {% if recipe.image %}
                <img src="{{ recipe.image }}" alt="{{ recipe.title }}">
                {% else %}
                    {% if recipe.category == "Pastry and dessert" %}
                <img src="/images/recipes/default_recipe_dessert.png" alt="{{ recipe.title }}">
                    {% else %}
                <img src="/images/recipes/default_recipe2.png" alt="{{ recipe.title }}">
                    {% endif %}
                {% endif %}
            </div>

            <div class="card-details">
                <h3>{{ recipe.title }}</h3>
                <div class="card-meta">
                    <span>{{ recipe.category }}</span>
                </div>
            </div>
        </a>
    </div>
    {% endif %}
{% endfor %}
</div>

<script>
const btnGallery = document.getElementById('btn-gallery');
const btnList = document.getElementById('btn-list');
const gallery = document.getElementById('recipe-gallery');
const list = document.getElementById('recipe-list');


btnGallery.addEventListener('click', function() {
    gallery.classList.toggle('hidden', false);
    list.classList.toggle('hidden', true);
    btnGallery.classList.toggle('active', true)
    btnList.classList.toggle('active', false)
});

btnList.addEventListener('click', function() {
    gallery.classList.toggle('hidden', true);
    list.classList.toggle('hidden', false);
    btnList.classList.toggle('active', true)
    btnGallery.classList.toggle('active', false)
});
</script>
{% endblock %}
