{% extends "page.html" %}

{% block content %}
{{ super() }}

<div class="recipe-toolbar">
    <div class="view-controls">
        <p style="margin: 0;">{{ page.description }}</p>
    </div>
    <div class="view-controls">
        <button id="btn-gallery" class="view-btn active"><i class="fas fa-th"></i></button>
        <button id="btn-list" class="view-btn"><i class="fas fa-bars"></i></button>
    </div>
</div>

<div id="recipe-list" class="recipe-list hidden">
    {% for group in recipes|groupby("category") %}
    <h2 class="recipe-category">{{ group.grouper }}</h2>
    <ul>
    {% for recipe in group.list %}
        <li>
            <a href="{{ recipe.url }}">{{ recipe.title }} </a>
        </li>
    {% endfor %}

    {% if RECIPE_CATEGORIES_INCLUDE_TAGS %}
        <!-- If a recipe has a tag that matches a category, include it in that category index -->
        {% for recipe in recipes if group.grouper in recipe.tags|map(attribute='slug') %}
            <li>
                <a href="{{ recipe.url }}">{{ recipe.title }} </a>
            </li>
        {% endfor %}
    {% endif %}
    </ul>
    {% endfor %}
</div>


<div id="recipe-gallery">
    {% set categories = recipes | map(attribute='category') | unique | sort %}
    <div id="variation-controls">
        <!-- <label for="vibe-select" class="vibe-label">Sort by</label> -->
        <div class="sort-buttons">
          <button id="sort-date" class="vibe-btn" onclick="sortCards('date', true)">Date</button><button id="sort-title" class="vibe-btn" onclick="sortCards('title', false)">Title</button><button id="sort-category" class="vibe-btn active" onclick="sortCards('category')">Category</button>
        </div>

        <!-- <label for="vibe-select" class="vibe-label">View</label> -->
        <div class="vibe-select-wrapper">
            <select id="vibe-select">
                <option value="all">All categories</option>
                {% for category in categories %}
                <option value="{{ category }}">{{ category }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="recipe-gallery">
    {% for recipe in recipes %}
        {% if not recipe.hidden %}
        <div class="recipe-card" data-category="{{ recipe.category }}" data-tags="{{ recipe.tags | join(' ') }}" data-date="{{ recipe.date }}" data-title="{{ recipe.title }}">
            <a href="{{ recipe.url }}">
                <div class="card-image-wrapper">
                    {% if recipe.image %}
                    <img src="{{ recipe.image }}" alt="{{ recipe.title }}">
                    {% else %}
                        {% if recipe.category in ["sweets", "ice cream"] %}
                    <img src="/images/recipes/default_recipe_dessert.png" alt="{{ recipe.title }}">
                        {% else %}
                    <img src="/images/recipes/default_recipe2.png" alt="{{ recipe.title }}">
                        {% endif %}
                    {% endif %}
                </div>

                <div class="card-details">
                    <h3>{{ recipe.title }}</h3>
                    <div class="card-meta">
                        <span>{{ recipe.category }}</span>
                    </div>
                </div>
            </a>
        </div>
        {% endif %}
    {% endfor %}
    </div>
</div>

<script>
const btnGallery = document.getElementById('btn-gallery');
const btnList = document.getElementById('btn-list');
const gallery = document.getElementById('recipe-gallery');
const list = document.getElementById('recipe-list');


btnGallery.addEventListener('click', function() {
    toggleView('gallery')
});

btnList.addEventListener('click', function() {
    toggleView('index')
});

function toggleView(view) {
    const url = new URL(window.location);
    url.searchParams.set('view', view);
    window.history.replaceState({}, '', url);

    if (view == 'index') {
        gallery.classList.toggle('hidden', true);
        list.classList.toggle('hidden', false);
        btnList.classList.toggle('active', true)
        btnGallery.classList.toggle('active', false)
    } else {
        gallery.classList.toggle('hidden', false);
        list.classList.toggle('hidden', true);
        btnGallery.classList.toggle('active', true)
        btnList.classList.toggle('active', false)
    }
};

document.addEventListener('DOMContentLoaded', function() {
    const select = document.getElementById('vibe-select');
    select.value = 'all';

    select.addEventListener('change', (e) => {
        updateCardCategory(e.target.value);
    });
});

function getValueFromUrlHash() {
    const hash = window.location.hash;
    if (hash) {
        return hash.substring(1);
    }
    return null;
}

function updateCardCategory(filterValue) {
    const url = new URL(window.location);
    url.searchParams.set('category', filterValue);
    window.history.replaceState({}, '', url);
    const cards = document.querySelectorAll('.recipe-card');

    cards.forEach(card => {
        const category = card.getAttribute('data-category');
        const tags = card.getAttribute('data-tags').split();


        {% if RECIPE_CATEGORIES_INCLUDE_TAGS %}
        if (filterValue === 'all' || category === filterValue || tags.includes(filterValue.toLowerCase())) {
        {% else %}
        if (filterValue === 'all' || category === filterValue) {
        {% endif %}
            card.classList.remove('hidden');
        } else {
            card.classList.add('hidden');
        }
    });
}

function sortCards(filterValue, reverse=false) {
    const cards = document.querySelectorAll('.recipe-card');
    var cardArray = Array.from(cards);
    let sorted = cardArray.sort(sorter);

    document.querySelectorAll('.sort-buttons > button').forEach(b => b.classList.remove('active'));
    document.querySelector('#sort-'+filterValue).classList.add('active');

    function sorter(a,b) {
        if (reverse) {
            return b.dataset[filterValue].localeCompare(a.dataset[filterValue]);
        }
        return a.dataset[filterValue].localeCompare(b.dataset[filterValue]);
    }

    sorted.forEach(e => document.querySelector(".recipe-gallery").appendChild(e));
}

function setSelectedOptionFromUrl() {
    const urlParams = new URLSearchParams(window.location.search);
    const categoryValue = urlParams.get('category');
    const select = document.getElementById("vibe-select");

    if (categoryValue) {
        select.value = categoryValue;
        updateCardCategory(categoryValue);
    }

    const viewValue = urlParams.get('view');
    toggleView(viewValue);
}
setSelectedOptionFromUrl();

document.addEventListener("DOMContentLoaded", setSelectedOptionFromUrl);

</script>

{% endblock %}
