{% extends "base.html" %}
{% block metatitle %}Tags | {{ SITENAME }}{% endblock %}
{% block title %}Tags | {{ SITENAME }}{% endblock %}
{% block og_url %} {{ SITEURL }}/tags {% endblock %}
{% block description %}A listing of all tags.{% endblock %}

{% block content %}
<article>
  <div class="article_text">
    <ul>
      {% for tag, articles in tags|sort %}
          <li><a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a> ({{ articles|count }})</li>
      {% endfor %}
    </ul>
  </div>
</article>
{% endblock %}
