name: Deploy
on:
  push:
    branches:
      - source

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.4.1
        with:
          access_token: ${{ github.token }}

      - uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.config.python-version }}

      - uses: nelsonjchen/gh-pages-pelican-action@0.2.0
        env:
          GH_PAGES_BRANCH: master
          GH_PAGES_CNAME: iza.ac
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
