<!doctype html>
<html lang="en-US" ng-app>

<head>
  {% include "_includes/header.html" %}
  <title>{% block title %}{{ SITENAME|striptags }} {{ SITESUBTITLE|striptags }}{% endblock %}</title>
  {% block swiftypeMeta %}{% endblock %}
</head>

<body data-spy="scroll" data-target=".navbar">
  {% include "_includes/nav.html" %}
  
  <div id="page-content">
    <div class="wrapper">
      <section id="blog">

        <article class="container">

          <div class="row">
            <div id="blog_main_area" class="left col-md-9" count={{articles|length}}>

              {% block searchbox %} {% endblock %}
              <section class="well" style="display:none;text-align:left" id="searchresults">
                <h3>Search results</h3>
                <div id="st-results-container"></div>
              </section>
              <div id="blog-content-area">
              {% block content %} {% endblock %}
              </div>
            </div>

            <!-- SIDEBAR -->
            <div class="right col-md-3" id="blogSidebar">
              {% block sidebar %}
              {% if not nosearchsidebar %}
              {% if SWIFTYPE %}
                <div id="blog-search-normal" class="well">

                  <a href="{{SITEURL}}/search"><h3>Search</h3></a>
                  <br>

                  <form>
                    <input type="text" id="st-search-input" class="st-search-input" style="font-size:16px;height:30px;" placeholder="Enter search terms here..." />
                  </form>
                </div>
              {% endif %}
              {% endif %}
              {% endblock %}
            </div>

          </div>

        </article>
      </section>

      <div class="push"></div>
    </div>

    {% include "_includes/footer.html" %}
  </div>


{% block script %}
{% endblock %}



</body>

</html>
