<!doctype html>
<html lang="en-US" ng-app>

<head>
  {% include "_includes/header.html" %}
  <title>{% block title %}{{ SITENAME|striptags }} {{ SITESUBTITLE|striptags }}{% endblock %}</title>
  {% block swiftypeMeta %}{% endblock %}

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.0.0/magnific-popup.min.css" />

    <style type="text/css">
    /* 

    for zoom animation 
    uncomment this part if you haven't added this code anywhere else

    */     
    .mfp-with-zoom .mfp-container,
    .mfp-with-zoom.mfp-bg {
      opacity: 0;
      -webkit-backface-visibility: hidden;
      -webkit-transition: all 0.3s ease-out; 
      -moz-transition: all 0.3s ease-out; 
      -o-transition: all 0.3s ease-out; 
      transition: all 0.3s ease-out;
    }
    
    .mfp-with-zoom.mfp-ready .mfp-container {
        opacity: 1;
    }
    .mfp-with-zoom.mfp-ready.mfp-bg {
        opacity: 0.95;
    }
    
    .mfp-with-zoom.mfp-removing .mfp-container, 
    .mfp-with-zoom.mfp-removing.mfp-bg {
      opacity: 0;
    }
    </style>

</head>

<body data-spy="scroll" data-target=".navbar">

  {% include "_includes/nav.html" %}
  <div id="page-content">


    <section id="blog">
      <article class="container">

        <div class="row">

          <div id="blog_main_area" class="left col-md-9" count={{articles|length}}>
            <section class="well" style="display:none;text-align:left" id="searchresults">
              <h3>Search results</h3>
              <div id="st-results-container"></div>
            </section>
            <div id="blog-content-area">
              {% block content_area %} {% endblock %}
            </div>
          </div>

          <!-- SIDEBAR -->
          <div class="right col-md-3" id="blogSidebar" data-swiftype-index="false">
            {% block sidebar %}

            {% if SWIFTYPE %}
              <!-- blog search -->
              <div class="well" id="blog-search-normal">

                <a href="{{SITEURL}}/search"><h3>Search</h3></a>
                <br>

                <form>
                  <input type="text" id="st-search-input" class="st-search-input" style="font-size:16px;height:30px" />
                </form>
              </div>
            {% endif %}

            <!-- categories -->
            <div class="well">

              <a href="{{SITEURL}}/categories"><h3>Categories</h3></a>

              <ul>
                {#% for category in categories %#} {% for category, articles in categories %}
                <li><a href="{{SITEURL}}/categories#{{ category.slug }}"><i class="fa fa-dot-circle-o"></i> {{category.name}}</a>
                </li>
                {% endfor %}
              </ul>

            </div>

            <!-- Tags -->
            <div class="well">

              <a href="{{SITEURL}}/tags"><h3>Tags</h3></a>

              <ul class="tagcloud">
                  {% for tag in tag_cloud %}
                      <li class="tag-{{ tag.1 }} tag-in-cloud" style="margin-bottom:-15px"><a href="{{ SITEURL }}/tags#{{ tag.0 }}-tag">{{ tag.0 }}</a>&thinsp;</li>
                  {% endfor %}
              </ul>

            </div>

            <!-- Archives -->
            <div class="well">

              <a href="{{SITEURL}}/archives"><h3>Archives</h3></a>

              <!-- hide this part -->
              <div class="hidden">
                {% set templist = [] %} {% for article in articles %} {{ templist.append({'year': article.date|string|truncate(4, True, ''), 'month': article.date|string|truncate(7, True, '')|reverse|truncate(2, True, '')|reverse, 'title': article.title, 'link': article.link, 'date': article.locale_date, 'url':article.url}) }} {% endfor %}
              </div>

              <ul class="tree">
                <li>
                  {% for group in templist|groupby('year')|sort(reverse=True) %}
                  <span><i class="fa fa-minus-square-o"></i>{{group.grouper}}</span>
                  <ul>
                    <li>
                      {% for month in group.list|groupby('month')|sort(reverse=True) %}
                      <span><i class="fa fa-plus-square-o"></i>{{month.grouper | month_name}}</span>
                      <ul>
                        {% for article in month.list %}
                        <li style="display: none;">
                          <a href="{{ SITEURL }}/{{ article.url }}">
                            <small>{{article.date}}</small>{{article.title}}</a>
                        </li>
                        {% endfor %}
                      </ul>
                      {% endfor %}
                    </li>
                  </ul>
                  {% endfor %}
                </li>
              </ul>

            </div>


            {% endblock %}
          </div>
          <!-- /SIDEBAR -->

        </div>

      </article>
    </section>

    {% include "_includes/footer.html" %}

  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.0.0/jquery.magnific-popup.min.js"></script>
  <script>
    $('.zoom').magnificPopup({
      type: 'image',
      closeOnContentClick: true,
      fixedContentPos: true,
      mainClass: 'mfp-with-zoom',
      image: {
        verticalFit: true
      },
      gallery: {
        enabled: true,
        navigateByImgClick: false,
      },
      zoom: {
        enabled: true,
        duration: 300 // don't foget to change the duration also in CSS
      }
    });
  </script>

</body>

</html>
