{% extends "base.html" %}
{% block title %}CV · {{ super() }}{% endblock %}

{% block swiftypeMeta %}
<meta property="st:title" content="CV" >
<link rel="stylesheet" type="text/css" href="{{SITEURL}}/theme/css/cv.css"> 

    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
      });
    </script>

    <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>

{% endblock %}

{% block content %}

<div style="margin:0 auto;">

<h1 class="noindent">Curriculum Vitae</h1>

<h2 class="small-caps" style="color:gray; text-align: right; margin-bottom: -20px; font-size: 48px;">Josh Izaac</h2>
<br>

<blockquote><I>
    A quantum physicist and experienced science writer with a demonstrated history of working in the publishing industry, I am currently working for quantum computing company Xanadu Quantum Technologies as a systems tester, using my background in quantum computation and software development. 
</I></blockquote>
<!-- <cite>Josh Izaac</cite> -->

<h3 style="margin:5px 0px 5px;" id=work>Work</h3>

<div style="display: inline-block;" class="tabular">
    <table class="tabular" rules="groups" cellpadding="5px" cellspacing="5px">
        <colgroup>
            <col class="datecol">
            <col>
        </colgroup>
        <tbody>
            <tr style="vertical-align:baseline;">
                <td style="text-align:right;" class="td11">
                    <span class="cmti-10">Current</span>
                </td>
                <td style="white-space:wrap; text-align:left;" class="td11">
                    <p><span class="cmbx-10"><a href="http://xanadu.ai/">Xanadu Quantum Technologies Inc.</a></span></p>
                </td>
            </tr>
            <tr style="vertical-align:baseline;">
                <td style="text-align:right;" class="td11">
                    <span class="small-caps">Sep 2017-Present</span>
                </td>
                <td style="white-space:wrap; text-align:left;" class="td11">
                    <span class="small-caps">Physicist and Systems Tester</span>
                    <ul class="itemize1" style="margin-left: -15px;">
                        <li class="itemize">
                            Work with engineers to test and optimize quantum architecture.
                        </li>
<!--                         <li class="itemize">
                            Research and analyse quantum device implementation.
                        </li> -->
                        <li class="itemize">
                            Developing, documenting, and testing quantum algorithms and simulations.
                        </li>
                        <li class="itemize">
                            Developing software and information testing policies for classical simulation of continuous-variable quantum computing, using Python and various other software tools, languages, and libraries.
                        </li>
                        <li class="itemize">
                            Executing, analyzing, and documenting results of system tests.
                        </li>
                        <li class="itemize">
                            Developing, deploying, and managing an online web application for simulation of continuous-variable quantum circuits, using Flask, Docker, WebSocket, Celery, Redis, and Amazon Elastic Beanstalk.
                        </li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
</div>    

<h3 id=education>Education</h3>
<br>

<div style="display: inline-block;" class="tabular">
    <table class="tabular" cellpadding="5px" cellspacing="0">
        <colgroup id="TBL-1-1g">
            <col class="datecol">
            <col>
        </colgroup>
        <tbody>
            <tr style="vertical-align:baseline;">
                <td style="text-align:right;" class="td11">
                    <span class="small-caps">Mar 2013-Aug 2017
                </td>
                <td style="text-align:left;" class="td11">
                    <span class="cmbx-10">Doctor of Philosophy in Physics </span>
                    <br>
                    <span class="small-caps">University of Western Australia</span>&nbsp;—&nbsp; Supervisor: Prof. Jingbo <span class="small-caps">Wang</span>
                </td>
            </tr>
            <tr style="vertical-align:baseline;">
                <td style="text-align:left;" class="td11"></td>
                <td style="text-align:left; padding-bottom:10px;" class="td11">
                    Thesis: <span class="cmti-10">Continuous-time quantum walks: simulation and application </span>
                </td>
            </tr>
            <tr style="vertical-align:baseline;">
                <td style="text-align:right;" class="td11">
                    <span class="small-caps">Dec 2013-Jan 2014 
                </td>
                <td style="text-align:left;" class="td11">
                    <span class="cmbx-10"><a href="http://www.as.huji.ac.il/schools/phys31">The 31st Jerusalem Winter School in Theoretical Physics</a></span>
                    <br>
                    <span class="small-caps">Israel Institute for Advanced Studies, Hebrew University of Jerusalem </span>
                </td>
            </tr>
            <tr style="vertical-align:baseline;">
                <td style="text-align:left;" class="td11"></td>
                <td style="text-align:left; padding-bottom:10px;" class="td11">
                    Frontiers of Quantum Information Science. Topics included quantum 
                    computing, quantum algorithms, quantum information and black holes.
                </td>
            </tr>
            <tr style="vertical-align:baseline;">
                <td style="text-align:right;" class="td11">
                    <span class="small-caps">Mar 2009-Nov 2012</span>
                </td>
                <td style="text-align:left;" class="td11">
                    <span class="cmbx-10">Bachelor of Science (Hons) in Physics and Applied Mathematics</span>
                    <br>
                    <span class="small-caps">University of Western Australia</span>&nbsp;—&nbsp;Supervisor: Jingbo <span class="small-caps">Wang</span>
                </td>
            </tr>
            <tr style="vertical-align:baseline;">
                <td style="text-align:left;" class="td11"></td>
                <td style="text-align:left;" class="td11">
                    <span class="small-caps">Weighted Average Mark: </span>&nbsp;&nbsp;91.4% &nbsp;&nbsp;—&nbsp;&nbsp; GPA: 7.0/7.0 &nbsp;&nbsp;—&nbsp;&nbsp; <span class="small-caps">First Class Honours</span>
                </td>
            </tr>
            <tr style="vertical-align:baseline;">
                <td style="text-align:right;" class="td11"></td>
                <td style="text-align:left; padding-bottom:10px;" class="td11">
                    Thesis: <span class="cmti-10">Continuous-time Quantum Walks: Disorder, Resonance &amp; Interactions</span>
                </td>
            </tr>
<!--             <tr style="vertical-align:baseline;">
                <td style="text-align:right;" class="td11">
                    <span class="small-caps">Mar 2009-Nov 2011</span>
                </td>
                <td style="text-align:left;" class="td11">
                    <span class="cmbx-10">Bachelor of Science in Physics and Applied Mathematics</span>
                    <br>
                    <span class="small-caps">University of Western Australia</span>
                    <br>
                    <span class="small-caps">Weighted Average Mark:&nbsp;&nbsp;92.1% &nbsp;&nbsp;—&nbsp;&nbsp; GPA: 6.9/7.0</span>
                </td>
            </tr>
            <tr style="vertical-align:baseline;">
                <td style="text-align:right;" class="td11"></td>
            </tr> -->
        </tbody>
    </table>
</div>

<h3 id=research>Research Experience</h3>
<br>

<div style="display: inline-block;" class="tabular">
    <table style="" cellpadding="5px" cellspacing="0">
        <colgroup id="TBL-2-1g">
            <col class="datecol">
            <col>
        </colgroup>
        <tbody>
            <tr style="vertical-align:baseline;">
                <td style="text-align:right;" class="td11">
                    <span class="small-caps">Mar 2013-Aug 2017</span>
                </td>
                <td style="text-align:left;" class="td11">
                    <span class="cmbx-10">Doctor of Philosophy (Physics)</span>
                    <br>
                    <span class="small-caps">University of Western Australia</span> — Supervisor: Prof Jingbo <span class="small-caps">Wang</span>
                </td>
            </tr>
            <tr style="vertical-align:baseline;">
                <td style="text-align:right;" class="td11"></td>
                <td style="text-align:left; padding-bottom:12px;" class="td11">
                    Exploring simulation and potential real world applications of quantum walks. 
                    Continuous-time quantum walks are studied across two areas of interest: 
                    efficient numerical simulation of the continuous-time quantum walk, and 
                    applications of continuous-time quantum walks to graph isomorphism and network centrality.
                </td>
            </tr>
            <tr style="vertical-align:baseline;">
                <td colspan="2" style="text-align:center;" class="td11"></td>
            </tr>
            <tr style="vertical-align:baseline;">
                <td style="text-align:right;" class="td11">
                    <span class="small-caps">Nov-Dec 2014 </span>
                </td>
                <td style="text-align:left;" class="td11">
                    <span class="cmbx-10">AsiaBound Collaboration</span>
                    <br>
                    <span class="small-caps">Okinawa Institute of Science and Technology</span>
                </td>
            </tr>
            <tr style="vertical-align:baseline;">
                <td style="text-align:right;" class="td11"></td>
                <td style="text-align:left;" class="td11">
                    Supervisors: Dr C M <span class="small-caps">Chandrashekar</span> and Prof Thomas <span class="small-caps">Busch</span>
                </td>
            </tr>
            <tr style="vertical-align:baseline;">
                <td style="text-align:right;" class="td11"></td>
                <td style="text-align:left; padding-bottom:12px;" class="td11">
                    Worked with the Quantum Systems Unit to model and analyse quantum percolation 
                    in continuous-time quantum walks.
                </td>
            </tr>
            <tr style="vertical-align:baseline;">
                <td colspan="2" style="text-align:center;" class="td11"></td>
            </tr>
            <tr style="vertical-align:baseline;">
                <td style="text-align:right;" class="td11">
                    <span class="small-caps">Nov 2012-Mar 2013  </span>
                </td>
                <td style="text-align:left;" class="td11">
                    <span class="cmbx-10">iVEC Internship</span>
                    <br>
                    <span class="small-caps">University of Western Australia</span> — Supervisor: Asst/Prof Peter <span class="small-caps">Metaxas</span>
                </td>
            </tr>
            <tr style="vertical-align:baseline;">
                <td style="text-align:right;" class="td11"></td>
                <td style="text-align:left; padding-bottom:12px;" class="td11">
                    Worked with the spintronics and magnetisation dynamics research group at UWA, 
                    investigating hybrid vortex-domain wall dynamics. This required high 
                    performance computing techniques using GPUs in addition to a good 
                    physical understanding of nanomagnetics, and could lead to signiﬁcant 
                    advances in manufacturing memory storage devices. 
                </td>
            </tr>
            <tr style="vertical-align:baseline;">
                <td colspan="2" style="text-align:center;" class="td11"></td>
            </tr>
            <tr style="vertical-align:baseline;">
                <td style="text-align:right;" class="td11">
                    <span class="small-caps">Jan-Nov 2012  </span>
                </td>
                <td style="text-align:left;" class="td11">
                    <span class="cmbx-10">Bachelor of Science (Hons.) Research Project</span>
                </td>
            </tr>
            <tr style="vertical-align:baseline;">
                <td style="text-align:right;" class="td11"></td>
                <td style="text-align:left;" class="td11">
                    <span class="small-caps">University of Western Australia</span> — Supervisor: Prof Jingbo <span class="small-caps">Wang</span>
                </td>
            </tr>
            <tr style="vertical-align:baseline;">
                <td style="text-align:right;" class="td11"></td>
                <td style="text-align:left; padding-bottom:12px;" class="td11">
                    Explored the dynamics and computational potential of quantum walks. Complex 
                    numerical analysis was performed using the Pawsey supercomputing facilities.</span>
                </td>
            </tr>
            <tr style="vertical-align:baseline;">
                <td style="text-align:right;" class="td11"></td>
            </tr>
        </tbody>
    </table>
</div>

<div id=publications></div>
<h3>Publications</h3>
<br>

<div style="display: inline-block;" class="thebibliography">
<ol class="list-of-pubs pubs">
    {% for key, year, month, text, bibtex, pdf, slides, poster, url, doi, abstract in publications %}
    
    <li id="{{ key }}" style="margin-bottom: 10px; content: '[' counter(item) '] ';" class="pubs">
            {{ text | replace("{","") | replace("}","")}}

            {% if doi %}
            <a href="http://dx.doi.org/{{doi}}">doi:{{doi}}</a>
            {% endif %}

            {% for label, target in [('PDF', pdf), ('Link', url), ('Slides', slides), ('Poster', poster)] %}
                {{ "[&nbsp;<a href=\"%s\">%s</a>&nbsp;]" % (target, label) if target }}
            {% endfor %}

            {% if citations %}
                &nbsp;[cited by {{citations}}]
            {% endif %}
    </li>
    {% endfor %}
    </ol>
</div>

<!-- <div style="display: inline-block;" class="thebibliography">
    <p class="bibitem">
        [1]&nbsp;&nbsp;&nbsp;J. A. <span class="underline">Izaac</span> and J. B. Wang. pyCTQW: a continuous-time quantum walk simulator on distributed memory computers. <span class="cmti-10">Computer Physics Communications</span>, 186(0):81–92, January 2015.
    </p>
    <p class="bibitem">
        [2]&nbsp;&nbsp;&nbsp;J. A. <span class="underline">Izaac</span>, J. B. Wang, and Z. J. Li. Continuous-time quantum walks with defects and disorder. <span class="cmti-10">Physical</span> <span class="cmti-10">Review A</span>, 88(4):042334, October 2013.
    </p>
    <p class="bibitem">
        [3]&nbsp;&nbsp;&nbsp;Z. J. Li, J. A. <span class="underline">Izaac</span>, and J. B. Wang. Position-defect-induced reﬂection, trapping, transmission, and resonance in quantum walks. <span class="cmti-10">Physical Review A</span>, 87(1):012314, January 2013.
    </p>
    <p class="bibitem">
        [4]&nbsp;&nbsp;&nbsp;A. Mahasinghe, J. A. <span class="underline">Izaac</span>, J. B. Wang, and J. K. Wijerathna. Phase-modiﬁed CTQW unable to distinguish strongly regular graphs eﬃciently. <span class="cmti-10">Journal of Physics A</span>, 48(26):265301, July 2015.
    </p>
</div> -->

<h3 id=conf style="margin:20px 0px 20px;">Conference Presentations</h3>

    <ol class="list-of-pubs pubs">

        {% for item in CONFERENCES %}
            <li id="{{loop.index}}" style="margin-bottom: 10px" class="pubs">
                {{item}}
            </li>
        {% endfor %}

    </ol>


<h3 id=media style="margin:20px 0px 20px;">Media Coverage</h3>

    <ol class="list-of-pubs pubs">
            <li id="1" style="margin-bottom: 10px" class="pubs">
                <a href="https://motherboard.vice.com/en_us/article/ne7pa8/physicists-designed-a-quantum-graph-search-technique-that-matches-google">Physicists Designed a Quantum Graph Search Technique That Matches Google.</a> <i>Vice Media.</i> November 2017.
            </li>

    </ol>

<h3 id=awards style="margin:30px 0px 10px;">Scholarships and Awards</h3>

<div style="display: inline-block;" class="tabular">
    <table class="tabular" cellpadding="10px" cellspacing="0">
        <colgroup>
            <col>
            <col>
        </colgroup>
        <tbody>
            <tr style="vertical-align:baseline;">
                <td style="text-align:right;" class="td11"> 2012  </td>
                <td style="text-align:left;" class="td11">
                    <p> Hackett Postgraduate Scholarship (<span class="cmti-10">awarded to the top-ranked PhD applicants</span>)</p>
                </td>
            </tr>
            <tr style="vertical-align:baseline;">
                <td style="text-align:right;" class="td11"> 2011 </td>
                <td style="text-align:left;" class="td11"> John and Patricia Farrant Scholarship (<span class="cmti-10">awarded to the top physics student undertaking honours</span>)</td>
            </tr>
            <tr style="vertical-align:baseline;">
                <td style="text-align:right;" class="td11"> </td>
                <td style="text-align:left;" class="td11"> <p style="padding-top:0px;">Physics (Level 3) Prize (<span class="cmti-10">top student in 3rd year physics</span>)</p></td>
            </tr>
            <tr style="vertical-align:baseline;">
                <td style="text-align:right;" class="td11"> 2010 </td>
                <td style="text-align:left;" class="td11"> Convocation, the UWA Graduates Association Prize Physics, Geology &amp; Chemistry</td>
            </tr>
            <tr style="vertical-align:baseline;">
                <td style="text-align:right;" class="td11"> </td>
                <td style="text-align:left;" class="td11"> <p style="padding-top:0px;">Digby Fitzhardinge Memorial Prize (<span class="cmti-10">top student in 2nd year physics</span>)</p></td>
            </tr>
            </tr>
            <tr style="vertical-align:baseline;">
                <td style="text-align:right;" class="td11"> 2009 </td>
                <td style="text-align:left;" class="td11"> Convocation, the UWA Graduates Association Prize Physics, Geology &amp; Chemistry</td>
            </tr>
            <tr style="vertical-align:baseline;">
                <td style="text-align:right;" class="td11"> </td>
                <td style="text-align:left;" class="td11"> Lady James Prize in Chemistry (<span class="cmti-10">top student in 1st year chemistry</span>)</td>
            </tr>
        </tbody>
    </table>
</div>


<h3 id=writing style="margin:20px 0px 10px;">Writing</h3>

<div style="display: inline-block;" class="tabular">
    <table class="tabular" rules="groups" cellpadding="5px" cellspacing="0">
        <colgroup id="TBL-4-1g">
            <col class="datecol">
            <col>
        </colgroup>
        <tbody>
            <tr style="vertical-align:baseline;">
                <td style="text-align:right;" class="td11">
                    <span class="small-caps">Aug 2015 - Present</span>
                </td>
                <td style="white-space:wrap; text-align:left;" class="td11">
                    <span class="cmbx-10">Freelance science writer</span>
                    <br>
                    This involves keeping up to date with scientiﬁc research across disciplines,
                    developing and pitching story ideas to editors, interviewing researchers, and writing
                    short articles. My work has so far appeared in Australian Geographic, redOrbit, and Science Magazine.
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!-- <p style="margin-left:20px;">
    <span class="small-font">[1] Female  fairy-wrens  sing  for  other  females. <span class="cmti-10">Australian Geographic</span>. October 2015.</span>
</p> -->

    <ol class="list-of-pubs pubs">

        {% for title, url, place, date in SCIWRITING %}
            <span class="small-font">
            <li id="{{loop.index}}" style="margin-bottom: 5px" class="pubs">
                <a href="{{url}}">{{title}}</a>. <i>{{place}}</i>. {{date}}.
            </li>
            </span>
        {% endfor %}

    </ol>

<br>

<h3 style="margin:10px 0px 10px;" id=teaching>Teaching</h3>

<div style="display: inline-block;" class="tabular">
    <table class="tabular" rules="groups" cellpadding="5px" cellspacing="5px">
        <colgroup>
            <col class="datecol">
            <col>
        </colgroup>
        <tbody>
            <tr style="vertical-align:baseline;">
                <td style="text-align:right;" class="td11">
                </td>
                <td style="white-space:wrap; text-align:left;" class="td11">
                    <span class="cmbx-10">Workshop Facilitator, <a href="http://readr.org.au/">readr</a></span>
                </td>
            </tr>
            <tr style="vertical-align:baseline;">
                <td style="text-align:right;" class="td11">
                    <span class="small-caps">Dec 2017</span>
                </td>
                <td style="white-space:wrap; text-align:left; padding-bottom: 10px;" class="td11">
                    <p>
                    <span class="small-caps">Presented a workshop on Numerical Quantum Computation</span>
                    <br>
                    This workshop aimed to introduce Australian post-graduate students in physics to essential numerical techniques using Python and NumPy. This included numerical differentiation, integration, intial value problems, and methods of solving the Schrodinger equation.</p>                </td>
            </tr>

            <tr style="vertical-align:baseline;">
                <td style="text-align:right;" class="td11">
<!--                     <span class="cmti-10">Current Employment  </span> -->
                </td>
                <td style="white-space:wrap; text-align:left;" class="td11">
                    <span class="cmbx-10">Academic Tutor, <a href="http://www.physics.uwa.edu.au/research/quantum-dynamics-computation">University of Western Australia</a></span>
                </td>
            </tr>
            <tr style="vertical-align:baseline;">
                <td style="text-align:right;" class="td11">
                    <span class="small-caps">Feb 2013-Jul 2017</span>
                </td>
                <td style="white-space:wrap; text-align:left;" class="td11">
                    <p>
                    <span class="small-caps">Lecturer/Tutor for honours and masters computational physics</span>
                    <br>
                    This involved helping students tackle problems in physics and mathematics
                    through the use of various numerical algorithms, providing FORTRAN and
                    UNIX support, presenting guest lectures and writing lecture notes.
                    </p>
                </td>
            </tr>
            <tr style="vertical-align:baseline;">
                <td style="text-align:right;" class="td11">
                    <span class="small-caps">Feb 2012-Jul 2017</span>
                </td>
                <td style="white-space:wrap; text-align:left;" class="td11">
                    <p>
                    <span class="small-caps">Tutor for second and third year computational mathematics</span>
                    <br>
                    This involved helping students with problems in applied mathematics/physics, 
                    and demonstrating how computational tools such as Mathematica can be used 
                    to complement traditional methods.
                    </p>
                </td>
            </tr>
            <tr style="vertical-align:baseline;">
                <td style="text-align:right;" class="td11">
                    <span class="small-caps">Aug-Sep 2012</span>
                </td>
                <td style="white-space:wrap; text-align:left;" class="td11"> 
                    <p>
                    <span class="small-caps">Marker for third year quantum computation</span>                     <br>
                    Compiled assignment solutions and marked third year physics students. This 
                    required a good understanding of introductory quantum computing in order 
                    to produce detailed solution guides.
                    </p>
                </td>
            </tr>
            <tr style="vertical-align:baseline;">
                <td style="text-align:right;" class="td11">
<!--                     <span class="cmti-10">Past Employment</span> -->
                </td>
                <td style="white-space:wrap; text-align:left;" class="td11">
                    <p><span class="cmbx-10">Tutoring Australasia Pty Limited (now <a href="http://studiosity.com/">Studiosity</a>)</span></p>
                </td>
            </tr>
            <tr style="vertical-align:baseline;">
                <td style="text-align:right;" class="td11">
                    <span class="small-caps">May 2009-Jun 2012</span>
                </td>
                <td style="white-space:wrap; text-align:left;" class="td11">
                    <span class="small-caps">Subject Specialist Tutor (maths and sciences)</span>
                    <ul class="itemize1" style="margin-left: -15px;">
                        <li class="itemize">
                            Effectively collaborate with team members to ensure knowledge is shared 
                            between tutors, enabling superior educational outcomes for students.
                        </li>
                        <li class="itemize">
                            Provide high quality subject support for Tutors as part of normal duties.
                        </li>
                        <li class="itemize">
                            Knowledge of contemporary educational techniques and practices.
                        </li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
</div>
                                                                                       
                                                                                       
<h3 id=volunteer style="margin:20px 0px 20px;">Volunteer Work</h3>

<div style="display: inline-block;" class="tabular">
    <table class="tabular" rules="groups" cellpadding="5px" cellspacing="0">
        <colgroup id="TBL-6-1g">
            <col class="datecol">
            <col>
        </colgroup>
        <tbody>
            <tr style="vertical-align:baseline;">
                <td style="text-align:right;" class="td11">
                    <span class="small-caps">Feb 2016-Jan 2017</span>
                </td>
                <td style="white-space:wrap; text-align:left;" class="td11">
                    <p><span class="cmbx-10"><a href='pdf/unimentor.pdf'>Postgraduate Mentor at UWA</a></span>
                    <br>UniMentor is a university-wide peer mentoring program aimed at supporting 
                    students as they transition into postgraduate uni life.
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
</div>


<h3 id=skills style="margin:20px 0px 20px;">Skills and Interests</h3>

<div style="display: inline-block;" class="tabular">
    <table class="tabular" cellpadding="0" cellspacing="0">
        <colgroup id="TBL-7-1g">
            <col>
            <col>
        </colgroup>
        <tbody>
            <tr style="vertical-align:baseline;">
                <td style="text-align:right;" class="td11"> Basic Familiarity: </td>
                <td style="text-align:left;" class="td11"> <p style="padding-top:0px; padding-bottom:3px;">Visual Basic, Matlab, C#, C</p></td>
            </tr>
            <tr style="vertical-align:baseline;">
                <td style="text-align:right;" class="td11"> Advanced Proﬁciency: </td>
                <td style="text-align:left;" class="td11"> Mathematica, <span class="small-caps">FORTRAN</span>, Python, Unix-based systems, Git,</td>
            </tr>
            <tr style="vertical-align:baseline;">
                <td style="text-align:right;" class="td11"></td>
                <td style="text-align:left;" class="td11"> Bash scripting, $\LaTeX{}$, Excel, Photoshop, After Effects, Docker,</td>
            </tr>
            <tr>
                <td style="text-align:right;" class="td11"></td>
                <td style="text-align:left;", class="td11"> Flask, Amazon Web Services (EC2, ElastiCache, Elastic Beanstalk, CloudWatch)</td>
            </tr>
        </tbody>
    </table>
</div>

<p class="noindent">
Experience using high performance computational tools such as OpenMP, CUDA and MPI
</p>

<p class="noindent">
Other interests include: Strength training, Technology, Open-Source, Programming, Kayaking <span class="cmti-10">(Two Star Award)</span>, Piano, Taekwondo <span class="cmti-10">(Low Red belt, 5th Kup)</span>, Photography, Travelling
</p>

<h3 id=researchinterests style="margin:20px 0px 20px;">Research Interests</h3>

<p class="noindent">
Quantum walks, whilst a relatively new area of research, have become an incredibly exciting ﬁeld due to their
potential applications in quantum information theory and quantum simulations; perhaps even leading to the
future production of quantum computers and with that the possibility of revolutionizing the way we carry out
computation and information processing.
</p>

<p class="noindent">
As part of my doctoral thesis, I presented a software package for simulation of multiparticle continuous-time
quantum walks (CTQWs) using high performance computation, and detailed a method of systematic dimensionalty
reduction for fermionic CTQWs. This requires a high degree of anaytic and
computational work, and enabled me to develop a extensive expertise using high performance
computing techniques. With the growing importance of high performance computing in physical
research, these skills have enabled me to cross disciplines, and perform magnetisation dynamic
simulations that could lead to signiﬁcant advances in manufacturing non-volatile memory storage
devices.
</p>
    
<p class="noindent">
I am also interested in the applications of quantum walks, specifically in regards to complex network analysis.
One such application is in network centrality - an algorithm that underpins Google, the biggest and most well-known
search engine. Part of my research has involved designing a quantum centrality algorithm that works on directed network
structures - this algorithm is utilized in the first successful physical quantum centrality implementation.
</p>

<h3 style="margin:20px 0px 20px;">References</h3>
Available upon request.
 
 
</div>
                                                                                       


{% endblock %}

{% block sidebar %}
    <nav class="navbar" role="navigation" id="cvnav">
        <div class="well widget-filter" id=contents>
            <h3>Shortcuts</h3>
            <br>
            <ol class="nav">
                <li class="active">
                    <a href=#work class="scrollTo">
                        <i class="fa fa-briefcase" aria-hidden="true"></i> &nbsp;Work
                    </a>
                </li>
                <li class="#education">
                    <a href=#education class="scrollTo">
                        <i class="fa fa-graduation-cap" aria-hidden="true"></i>  Education
                    </a>
                </li>
                <li>
                    <a href=#research class="scrollTo">
                        <i class="fa fa-flask" aria-hidden="true"></i>  &nbsp;Research experience
                    </a>
                </li>
                <li>
                    <a href=#publications class="scrollTo">
                        <i class="fa fa-book" aria-hidden="true"></i>  &nbsp;Publications
                    </a>
                </li>
                <li>
                    <a href=#conf class="scrollTo">
                        <i class="fa fa-comment" aria-hidden="true"></i>  &nbsp;Conferences
                    </a>
                </li>
                <li>
                    <a href=#media class="scrollTo">
                        <i class="fa fa-video-camera" aria-hidden="true"></i>  &nbsp;Media Coverage
                    </a>
                </li>
                <li>
                    <a href=#awards class="scrollTo">
                        <i class="fa fa-trophy" aria-hidden="true"></i>  &nbsp;Awards
                    </a>
                </li>
                <li>
                    <a href=#writing class="scrollTo">
                        <i class="fa fa-pencil" aria-hidden="true"></i>  &nbsp;Writing
                    </a>
                </li>
                <li>
                    <a href=#teaching class="scrollTo">
                        <i class="fa fa-user" aria-hidden="true"></i>  &nbsp;Teaching
                    </a>
                </li>
                <li>
                    <a href=#volunteer class="scrollTo">
                        <i class="fa fa-plus" aria-hidden="true"></i>  &nbsp;Volunteer work
                    </a>
                </li>
                <li>
                    <a href=#skills class="scrollTo">
                        <i class="fa fa-futbol-o" aria-hidden="true"></i>  Skills and interests
                    </a>
                </li>
                <li>
                    <a href=#researchinterests class="scrollTo">
                        <i class="fa fa-university" aria-hidden="true"></i>  Research interests
                    </a>
                </li>
            </ol>
        </div>
    </nav>
{% endblock sidebar %}

{% block script %}
<style type="text/css">
    .datecol {
        width: 130px;
    }

    cite {
        color: #888;
        font-size: 34px;
        display: block;
        margin-top: -30px;
        margin-right: 80px;
        text-align: right;
        font-family: Dosis;
        font-variant: small-caps;
    }

    cite:before {
        content: "\2014 \2009";
    }

    ol.pubs {
        counter-reset: item;
        margin-left: 0;
        padding-left: 0;
    }

    li.pubs {
        display: block;
        margin-bottom: .5em;
        margin-left: 3.5em;
        list-style-position: inside;
    }

    li.pubs:before {
        display: inline-block;
        content: "[" counter(item) "]";
        counter-increment: item;
        width: 1.5em;
        margin-left: -2em;
        margin-right: 7px;
        text-align: right;
    }

    .fixed {  
            position: fixed;   
            top: 65px;
        }

    .active {  
            background-color: #eee;
        }

    .nav>li>a:focus {
        background-color: transparent !important;
        text-decoration: none;
    }

    @media only screen and (max-width: 960px) {
        #cvnav {
            display: none;
        }

        .datecol {
            width: 75px;
        }
    }
</style>

<script type="text/javascript">
$(document).ready(function() {

    var offset = $('#contents').offset();
    var scrollTop = $(window).scrollTop()+65; // check the visible top of the browser  

    if (offset.top<scrollTop)
        $('#contents').addClass('fixed');  
    else
        $('#contents').removeClass('fixed');

    $(window).scroll(function () {  
        var scrollTop = $(window).scrollTop()+65; // check the visible top of the browser  

        if (offset.top<scrollTop)
            $('#contents').addClass('fixed');  
        else
            $('#contents').removeClass('fixed');
    });
});
</script>
{% endblock script %}
