<!doctype html>
<html lang="en-US">
  <head>
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
      });
    </script>

    <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>

    <script type="text/javascript">
      function window_onload() {
        window.addEventListener("scroll",navbar_reset_top,false);
      }

      var navbar_top=100;

      function navbar_reset_top() {
        var scrollTop=document.documentElement.scrollTop||document.body.scrollTop;
        if(scrollTop>navbar_top&&header.className==="relative") {
          document.getElementById("header").className="fixed";
        }
        else if(scrollTop<navbar_top&&header.className==="fixed") {
          document.getElementById("header").className="relative";
        }
      }

    </script>

    {% include "_includes/header.html" %}
    <title>
      {% block title %}
      {{ SITENAME|striptags }} {{ SITESUBTITLE|striptags }}
      {% endblock %}
    </title>
    <meta property="st:title" content="Home" >
    <meta property='st:section' content='About' />
    <meta property='st:section' content='My Work' />
    <meta property='st:section' content='Portfolio' />
  </head>

  <body data-spy="scroll" data-target=".navbar" data-offset="60">

    <div id="head-content">
      <!-- HOME -->
      <section id="home" class="{{HEADER_SIZE}}"><!-- full-screen or half-screen (550px height) -->

        {% if BG_IMAGE %}
          <div id="slider">

            <ul class="slides-container">
              <li>
                {% if BG_IMAGE_CAPTION %}
                  <div class="image-caption">
                    <hr /><hr />
                    <div class="inner">
                      <h2 class="bigtext strtoupper nomargin">{{ BG_IMAGE_CAPTION }}</h2>
                    </div>
                    <hr /><hr />
                  </div>
                {% endif %}
                <img src="{{BG_IMAGE}}" data-stellar-background-ratio="0.4" style="display:none" id="ipadBG"/>

                <div style="background-image: url('{{BG_IMAGE}}');" class="{{BG_IMAGE_TYPE}}" data-stellar-background-ratio="0.4"></div>

                <span class="overlay"></span>
              </li>
            </ul>
          </div>
        {% endif %}

      </section>
      <!-- /HOME -->
    </div>

    <header id="header" class="relative">
      <nav class="navbar navbar-inverse" role="navigation" id="slide-nav" data-swiftype-index="false">
        <div class="container">

          <div class="navbar-left">
            <a class="navbar-toggle"> 
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <a class="navbar-brand">
                <h1>{{ SITENAME|e }}&nbsp;</h1>
              </a>
            </a>
            <div id="socialbarSMALL" style="">
              {% for group_title, group_link in SOCIAL %}
                <a href="{{group_link}}" class="social fa fa-{{group_title|lower}}"></a>
              {% endfor %}
            </div>
          </div>

          <div class="navbar-right" id="socialbarBIG" style="">
            {% for group_title, group_link in SOCIAL %}
              <a href="{{group_link}}" class="social fa fa-{{group_title|lower}}"></a>
            {% endfor %}
          </div>
          
          <div id="slidemenu">

            <ul class="nav navbar-nav navbar-right" id="collapse" style="display:none">
              <li class="active"><a href="#home" class="scrollTo" id="scroll-home">Home</a></li>
              <li><a href="#about" class="scrollTo" id="scroll-about">About</a></li>
              <li><a href="#work" class="scrollTo" id="scroll-work">Work</a></li>
              {% if MENUITEMS %}
                {% for title, link in MENUITEMS %}
                  <li><a href="{{link}}">{{title}}</a></li>
                {% endfor %}
              {% endif %}
              {% if LINKS %}
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{LINK_MENU_NAME}} <b class="caret"></b></a>
                  <ul class="dropdown-menu" style="background-color:#000">
                  {% for site_title, site_link in LINKS %}
                    <li style="background-color:#000"><a href="{{site_link}}">{{site_title}}</a></li>
                  {% endfor %}
                  </ul>
                </li>
              {% endif %}
            </ul>
          </div>

        </div>
      </nav>
    </header>

    <div id="page-content">

      <!-- <section class="well" style="display:none;text-align:left" id="searchresults">
      <h3>Search results</h3>
      <div id="st-results-container"></div>
      </section>
      <div id="blog-content-area"> -->

      <!-- ABOUT -->
      <section id="about" style="padding: 110px 0px 0px 0px;">
        <div class="container">
          <header class="text-center">
            <h1>ABOUT ME</h1>
          </header>

          <div class="divider"><!-- lines divider --></div>

          {% if PERSONAL_INFO %}
            <article class="text-center big-paragraph">
              <p>{{PERSONAL_INFO}}</p>
            </article>
          {% endif %}

          {% if PERSONAL_PHOTO %}
            <div class="me-picture text-center">
              <div class="item">
                <img class="img-responsive" src="{{PERSONAL_PHOTO}}" width="200" height="200" alt="" />
              </div><hr />
            </div>
          {% endif %}

          {% if PERSONAL_INFO_SEC1 %}
          <article>
            <div class="row text-left">

              <div class="col-md-4">
                <h3>{{PERSONAL_INFO_SEC1_TITLE}}</h3>
                <p>{{PERSONAL_INFO_SEC1}}</p>
              </div>


              {% if PERSONAL_INFO_SEC2 %}
              <div class="col-md-4">
                <h3>{{PERSONAL_INFO_SEC2_TITLE}}</h3>
                <p>{{PERSONAL_INFO_SEC2}}</p>
              </div>
              {% endif %}


              {% if PERSONAL_INFO_SEC3 %}
              <div class="col-md-4">
                <h3>{{PERSONAL_INFO_SEC3_TITLE}}</h3>
                <p>{{PERSONAL_INFO_SEC3}}</p>
              </div>
              {% endif %}

            </div>
          </article>
          {% endif %}

        </div>
      </section>
      <!-- /ABOUT -->

      <!-- WORK -->
      <section id="work" class="alternate arrow-down">
        <div class="container">
          <header class="text-center">
            <h1>MY WORK</h1>
          </header>

          <div class="divider"><!-- lines divider --></div>

          {% if WORK_DESCRIPTION %}
          <article>
              {{WORK_DESCRIPTION}}
          </article>
          {% endif %}

        {% if WORK_PUBLICATIONS %}
        <article>
          <script type="text/javascript">
              function disp(s) {
                  var win;
                  var doc;
                  win = window.open("", "WINDOWID");
                  doc = win.document;
                  doc.open("text/plain");
                  doc.write("<pre>" + s + "</pre>");
                  doc.close();
              }
          </script>
              <h1 class="entry-title" align=left>Publications</h1>
              <I><h3 align=left>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href=http://scholar.google.com/citations?user=pEj09c4AAAAJ>google citations</a></h3></I>
          <br>
              <ol>
              {% for key, year, month, text, bibtex, pdf, slides, poster, url, doi, abstract in publications %}
              <li id="{{ key }}"><p align=left>{{ text | replace("{","") | replace("}","")}}
              [&nbsp;<a href="javascript:disp('{{ bibtex|replace('\n', '\\n')|escape|forceescape }}');">Bibtex</a>&nbsp;]
              {% for label, target in [('PDF', pdf), ('Link', url), ('Slides', slides), ('Poster', poster)] %}
              {{ "[&nbsp;<a href=\"%s\">%s</a>&nbsp;]" % (target, label) if target }}
              {% endfor %}
              </p></li>
              {% endfor %}
              </ol>
          </article>
          {% endif %}
          <br>

          {% if WORK_LIST %}
          <div id="portfolio" class="text-center animate_fade_in">
            <h1 class="entry-title" align=left>Portfolio</h1>
            <br>

            <div class="row">

              <ul class="sort-destination isotope" data-sort-id="isotope-list">

                {% for work_type, work_cover_link, work_title, work_description, work_link in WORK_LIST %}
                  {% if work_type == 'link' %}
                    <li class="isotope-item col-sm-6 col-md-4 brand" style="list-style-type: none"><!-- item -->
                      <a class="external" href="{{work_link}}" target="_blank">
                        <img src="{{work_cover_link}}" class="img-responsive center-block" alt="img" align="center"/>
                        <div class="caption">
                          <!-- <i class="rounded fa fa-link"></i> -->
                          <h3>{{work_title}}</h3>
                          <p>{{work_description}}</p>
                        </div>
                      </a>
                    </li>
                  {% endif %}
                {% endfor %}

              </ul>
            </div>

          </div>
          {% endif %}

        
        </div>
      </section>
      <!-- /WORK -->

      {% if SHOW_RECENT_BLOGS %}
      <!-- BLOG -->
      <section id="quick-blog" class="arrow-down">
        <div class="container">

          <header class="text-center">
            <h1>BLOG</h1>
            <p>RECENT ENTRIES</p>
          </header>

          <div class="divider"><!-- lines divider --></div>

          <article>
            <div class="row animate_fade_in">

              {% for article in articles[:3] %}
                <div class="col-md-4 quick-hover">
                  <div class="quick-item">
                  {% if article.featured %}
                    <figure class="media-preview">
                    {% if article.type|lower=='image' %}
                      <img src="{{article.featured}}" class="img-responsive" data-src="holder.js/360x200/#676767:#555555/auto/" alt="img" />
                    {%elif article.type|lower=='video'%}
                      <iframe class="fitvids" src="{{article.featured}}" width="800" height="450"></iframe>
                    {%elif article.type|lower=='audio'%}
                      <iframe class="fullwidth" height="166" src="{{article.featured}}"></iframe> 
                    {% endif %}
                    </figure>
                  {% endif %}
                    {% if article.link %}
                      <h4><a href="{{ article.link }}">{{article.title}} <i class="fa fa-external-link" target="_blank"></i></a></h4>
                    {%else%}
                      <h4><a href="{{ SITEURL }}/{{ article.url }}">{{article.title}}</a></h4>
                    {%endif%}
                    <p>{{article.summary}}</p>
                    <a href="{{ SITEURL }}/{{ article.url }}" class="btn btn-xs"><i class="fa fa-sign-out"></i> READ MORE</a>
                  </div>
                </div>
              {% endfor %} 

            </div>
          </article>

          <div class="divider"><!-- lines divider --></div>

          <article class="text-center" data-animation="bounceIn">
            <a href="blog" class="plusNav" title="more from blog">+</a> 
          </article>

        </div>
      </section>
      <!-- /BLOG -->
      {% endif %}

      {% set nosearch = True %}
      {% include "_includes/footer.html" %}
    </div>

    <script type="text/javascript" src="{{SITEURL}}/theme/js/parallax.js"></script>


    <script type="text/javascript">

      var scrollPercent = 1.0 - (($(window).height() - $(window).scrollTop()) / $(window).height());

      if (!isMobileWebkit) {
        createParallax('.{{BG_IMAGE_TYPE}}',0.4);
      };

    	$( document ).scroll(function () {
        var scrollPercent = 1.0 - (($(window).height() - $(window).scrollTop()) / $(window).height());

        {% if BG_BLUR %}
          $('.{{BG_IMAGE_TYPE}}').Vague({intensity:scrollPercent}).blur();
        {% endif %}

        $('.navbar-inverse').css('background', 'rgba(15, 17, 19, ' + Math.min(0.4*scrollPercent+0.7,0.9));
    	});

      $(document).ready( function() {

        if ( $(window).width() > 1023 && $(window).scrollTop()==0) {
          $(window).scrollTop( 0.4*$(window).height() );
        };
        
        $('.navbar-inverse').css('background', 'rgba(15, 17, 19, ' + Math.min(0.4*scrollPercent+0.7,0.9));

      });

    </script>

  </body>
</html>