{% extends "base.html" %}


{% block title %}
{{ page.title }} {%if page.subtitle %} - {{ page.subtitle }} {% endif %} · {{ super() }}
{% endblock %}

{% block swiftypeMeta %}
  <meta property="st:title" content="{{ page.title }}" >
  {% if page.date %}
    <meta property="st:published_at" content="{{ page.date.strftime('%Y-%m-%dT%H:%M') }}{% if page.timezone %}{{ page.timezone }}{% else %}+0800{% endif %}">
  {% endif %}
{% endblock %}

{% block top_center %}
  <h1>
    <a href="{{ SITEURL }}/{{ page.url }}" rel="bookmark" title="Permalink to {{ page.title|striptags|e }}">{{ page.title }}</a>
  </h1>
{% endblock %}


{% block content %}
  {% import 'translations.html' as translations with context %}
  {{ translations.translations_for(page) }}
  <h1>{{ page.title }}{%if page.subtitle %} <small> {{ page.subtitle }} </small> {% endif %}</h1>
  <br>
  <div>
    {{ page.content }}
  </div>
{% endblock %}
