{% extends "base.html" %}
{% block title %}Publications{% endblock %}
{% block content %}

<script type="text/javascript">
    function disp(s) {
        var win;
        var doc;
        win = window.open("", "WINDOWID");
        doc = win.document;
        doc.open("text/plain");
        doc.write("<pre>" + s + "</pre>");
        doc.close();
    }
</script>
<!-- <section id="content" class="body"> -->
    <h1 class="entry-title">Publications</h1>
    <I><h3 align=left>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href=http://scholar.google.com/citations?user=pEj09c4AAAAJ>google citations</a></h3></I>
    <br>
    <ol>
    {% for key, year, text, bibtex, pdf, slides, poster, url in publications %}
    <li id="{{ key }}"><p>{{ text }}
    [&nbsp;<a href="javascript:disp('{{ bibtex|replace('\n', '\\n')|escape|forceescape }}');">Bibtex</a>&nbsp;]
    {% for label, target in [('PDF', pdf), ('Link', url), ('Slides', slides), ('Poster', poster)] %}
    {{ "[&nbsp;<a href=\"%s\">%s</a>&nbsp;]" % (target, label) if target }}
    {% endfor %}
    {% if citations %}
    &nbsp;[cited by {{citations}}]
    {% endif %}
    </p></li>
    {% endfor %}
    </ol>
<!-- </section> -->
{% endblock %}s